body{
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    background-color:#ffffff;
}
.navigation{
    margin-top: 32px;
    display: flex;
}
.logo{
    margin-left: 32px;
    width: 142px;
    height: 87px;
}
.nav_block{
    margin-left: 674px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.click_it{
    width: 142px;
    height: 87px;
    flex-shrink: 0;
    border-radius: 32px;
    background: #D9D9D9;
}
.home{
 text-decoration: underline;
}
.home,
.about_us,
.projects{
    margin-right:64px;
    color: #000;
    font-size: 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.all_head{
    display: flex;
    margin-top: 128px;
    margin-bottom: 128px;
}
.head{
    margin-left: 128px;
    margin-right: 209px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}
.head_descr{
    color: #B1B1B1;
    font-size: 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.header_img{
    margin-right: 128px;
    width: 609px;
    height: 445px;
    flex-shrink: 0;
    background: #D9D9D9;
    border-radius: 64px;
}
.header,.head_descr,.click_it_1{
    margin-bottom: 32px;
}
.header{
    color: #000;
    font-size: 48px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.click_it_1{
    width: 205px;
    height: 88px;
    flex-shrink: 0;
    border-radius: 22px;
    background: #D9D9D9;
    color: #000;
    font-size: 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.insert_coop{
    width: 1440px;
    background-color: #D9D9D9;
   text-align: center;
}
.coop_images{
    display: flex;
    /*justify-content: space-around;*/
    padding-left: 216px;
    padding-top: 64px;
    padding-right: 216px;
    padding-bottom: 32px;
}
.coop_logo{
    width: 99px;
    height: 99px;
    margin-right: 128px;
    flex-shrink: 0;
    border-radius: 99px;
    background: #FFF;
}
.coop{
    color: #000;
    font-size: 40px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 32px;
}

.blocks_header{
    color: #000;
    font-size: 48px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 128px;
    padding-bottom: 64px;
    display: flex;
    justify-content: center;
}
.focus_points{
    margin-left: 64px;
    margin-right: 64px;
    display: flex;
    justify-content: space-between;
}
.block{
    width: 395px;
    height: 378px;
    flex-shrink: 0;
    border-radius: 63px;
    background: #D9D9D9;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.block_image{
    width: 369px;
    height: 274px;
    flex-shrink: 0;
}
.block_descr{
    margin-left: 18px;
    margin-top: 18px;
}
.us_header{
    color: #000;
    font-size: 48px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 128px;
    display: flex;
    justify-content: center;
}
.about_us{
    margin-left: 128px;
    margin-top: 64px;
    margin-right: 128px;
    margin-bottom: 128px;
    display:flex;

}
.us_block{
    margin-left: 209px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.us_title{
    color: #000;
    font-size: 48px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.us_descr{
    color: #B1B1B1;
    font-size: 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 32px;
}
.us_image{
    width: 609px;
    height: 445px;
    flex-shrink: 0;
    border-radius: 63px;
}
.footer{
    padding-top: 64px;
    padding-bottom: 64px;
    width: 1440px;
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home_2{
    color: #FFF;
    font-size: 24px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    margin-bottom: 32px;
}
.about_us_2,
.projects_2{
    color: #FFF;
    font-size: 24px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    margin-top: 32px;
}